/**
 * Created with JetBrains PhpStorm.
 * User: zhengxiaowei01
 * Date: 16-5-12
 * Time: 上午10:32
 * To change this template use File | Settings | File Templates.
 */
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

.carousel{
    max-height:500px;
}
.carousel .item{
    max-height:500px;
}
.carousel .item img{
    width:100%;
}