body {
    font-family: 'Lucida Grande', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #4e4e4e;
    overflow-x: hidden;
    height: 100%;
}
.container{
    font-family: 'Lucida Grande', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
    font-size: 14px;
}
.projects .thumbnail .caption a:hover, .projects .thumbnail .caption a:focus {
    text-decoration: none;
}

.projects-header {
    text-align: center;
    margin: 60px 0 10px;
    font-weight: 200;
}

.projects-header h2 {
    font-size: 30px;
    letter-spacing: -1px;
}

.caption p {
    text-align: left;
}

.caption {
    height: 130px;
}

.caption h3 {
    height: 60px;
}

.projects .thumbnail {
    display: block;
    margin-left: auto;
    margin-right: auto;

    max-width: 310px;
    margin-bottom: 30px;
    border-radius: 0;
}

btn-lg.btn-shadow {
    padding: 13px 35px 17px;
}

.btn-primary.btn-shadow {
    -webkit-box-shadow: inset 0 -4px 0 #2a6496;
    box-shadow: inset 0 -4px 0 #2a6496;
    border: 0;
    color: #fff;
}

.page_navi {
    overflow: hidden;
    width: 100%;
    text-align: center
}

.page_navi a {
    height: 36px;
    border: 1px solid #DDD;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    color: #888;
    text-decoration: none;
    line-height: 36px;
    margin: 2px;
    padding: 3px 8px
}

.page_navi a:hover, .page_navi a.current {
    border: 1px solid #FFBB76;
    color: #FF7200;
    font-weight: bolder
}

footer{
    width: 100%;
    float: left;
    text-align: left;
}

.ziluolan-footer {
    color: #e7e7e7;
    z-index: 10;
    border-top: 1px solid #e5e5e5;
    margin-top: 30px;
    margin-bottom: 0px;
    background-color: #363b3f;
    width: 100%;
    float: left;
    text-align: left;
    display: block;

    font-family: 'Lucida Grande', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
    font-size: 14px;
}

.ziluolan-footer a {
    color: #fff;
}

.ziluolan-footer a:hover, .ziluolan-footer a.current {
    color: #e14d43;
}
.ziluolan-links-widget ul li a {
    font-size: 110%;
    text-transform: capitalize;
    line-height: 40px;
    float: left;
}

.ziluolan-footer .ziluolan-links-widget ul li .border {
    background-color: rgba(255,255,255,0.1);
}

.ziluolan-links-widget ul li .border {
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: rgba(000,000,000,0.2);
}

ul, li {
    list-style: none;
}

.ziluolan-footer .ziluolan-widget {
    width: 100%;
    float: left;
}

.ziluolan-links-widget ul, .ziluolan-links-widget ul li {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
}

.ziluolan-links-widget ul li {
    padding-bottom: 1px;
    position: relative;
}

.ziluolan-widget-inner {
    width: 100%;
}

.ziluolan-footer .ziluolan-widget h3 {
    color: #fff;
    text-transform: capitalize;
    font-weight: lighter;
    margin-bottom: 30px;
    display: inline-block;
    width: auto;
    margin-top: 60px;
}

.ziluolan-widget h3 {
    font-weight: lighter;
    margin-top: 0;
}


.ziluolan-tags-widget a {
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    line-height: 160%;
    margin-right: 5px;
    margin-bottom: 7px;
    padding: 0 5px;
    text-transform: lowercase;
}

.ziluolan-copyright-widget{
    border-top-color: #e14d43;
}

.ziluolan-copyright-widget {
    border-top-width: 1px;
    border-top-style: solid;
    padding-top: 0px;
    margin-top: 60px;
    display: inline-block;
}

.ziluolan-copyright-widget p {
    display: inline-block;
    margin-bottom: 50px;
}

.ziluolan-header{
    margin-top: 40px;
}
img {
    max-width: 100%;
    height: auto;
}

.page-title, .taxonomy-description{
    margin-left: 15px;
}

.ziluolan-about-widget p.contacts {
    width: 100%;
    border: 0 solid rgba(000,000,000,0.2);
    border-top-width: 0;
    border-bottom-width: 1pex;
    padding: 10px 0;
    padding-left: 20px;
    margin-bottom: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}
.single-header{
    margin-top: 50px;
    margin-bottom: 25px;
}